/*============================ __MAIN__ ============================*/

#wrap {
  margin: 0 auto;
  max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(/img/bg.jpg) #333;
  color: #ccc;
  font-family: consolas;
  xfont-family: tahoma;
}

h1 {
  margin: 12px;
  text-shadow: 1px 1px #777;
}
h2 {
  text-align:center;
}

header {
  text-align: center;
}

#main > header {
  background: #333;
}

#container{
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}
.user{
  width: 128px;
  height: 128px;
  position: relative;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
}
img[src^="/avatar"]{
  width: 100%;
  height: 100%;
  background: #222;
  position: absolute;
  top:0;
  left: 0;
}
.user span{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  text-align:center;
}
li{
  display:inline-block;
}
/*============================ __NAVIGATION__ ============================*/

nav a {
  background: #222;
  color: #bbc;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
}
nav a:hover {
  background: #444;
}
#logo-container, #top-navi {
  display: inline-block;
}
#welcome {
  margin: 0;
  padding: 5px;
}
#top-navi {
  float:right;
  margin: 7px;
}

@media screen and (max-width: 400px) {
  x#top-navi {float: none}
  #welcome {display: none}
}
#logo-container {
  float:left;
}
#logo {
  height:50px;
}

#main-navi {
  display: table;
  width:100%;
}
#main-navi a{
  display: table-cell;
  width:10%;
  box-sizing:border-box;
  box-shadow: 0 0 10px 2px #000 inset;
}
/*#main-navi a#mobile-menu-toggle {display: none}*/

time {width: 100px}
.posts .post .meta, .meta .user {transition: all 0.2s ease-in-out;}

@media screen and (max-width: 600px) {
  #main-navi {display: block;display: flex;overflow-x: auto}
  #main-navi a {width: 100%;flex: 1 0 20%;}
  /*#main-navi a#mobile-menu-toggle {display: table-cell;}*/
  /*#main-navi a#mobile-menu-toggle ~ a {display: none;}*/
  /*#main-navi a#mobile-menu-toggle.open ~ a {display: block;}*/
  #welcome {font-size: 1.25em;}
  .post time {font-size: 0.8em; width: 80px}
  .posts .post .meta, .meta .user {margin: 0; width: 96px; height: 96px;}
  .post .content {padding: 0 10px;}
  .post h1 {margin: 5px;}

}
@media screen and (max-width: 500px) {
  #main-navi a {flex: 1 0 25%;}
  .post time {font-size: 0.6em; width: 60px}
  #welcome {font-size: 1.2em;}
  .posts .post .meta, .meta .user {width: 64px; height: 64px;}
}


time{
  float: right;
}
a{
  color:#eee;
}
#status{
  display: none;
}

/*============================ __FORMS__ ============================*/
#error:not(:empty) {
  margin: auto;
  width: 400px;
  /*width: auto;*/
  /*display: inline-block;*/
  padding: 10px;
  background: rgba(200, 50, 50, 0.4);
  color: #d44;
  box-shadow: 0 0 10px;
  border-radius: 10px;
}

button.edit, button.remove {
  font-size: 0;
}
button.edit:before, button.remove:before {
  font-size: 20px;
  display: inline-block;
  width: 25px;
  line-height: 25px;
}
button.edit:before {
  content: '✎';
  /*content: '&#x270e;';*/
}
button.remove:before {
  content: '✘';
  color: red;
  /*content: '&#x2718;';*/
}

form {
  text-align: center;
}

form input,form textarea {
  border-radius: 7px;
  outline: none;
}

form input:focus,form textarea:focus {
  box-shadow: 0 0 5px 2px #68f;
}

form label, form input, form button, form textarea {
  display: block;
  margin: 10px auto;
  padding: 5px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
label{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
}
input, textarea{
  xbackground: url(http://www.psdgraphics.com/file/metal-texture.jpg);
  xbackground:url(http://www.proshaper.com/wp-content/uploads/2013/06/metal_background_by_homers85-d53bo7t.jpg); ;
  xbackground :rgba(120,120,120,0.8);
  xborder-color: lightgray;
  xcolor:#333;
}
textarea{
  padding: 5px;
  border-radius: 5px;
  xwidth:500px;
  height: 120px;
}
form[id^="add-"] input, form[id^="add-"] textarea{
  width: 400px;
  margin: 5px auto;
}
button, input[type="submit"]{
  margin: 5px;
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px #999, 0 -2px inset;
}
button[id^="add-"]{
  margin: 5px auto;
  display: block;
}
#container > ul:not(#users):not(#team):not(#profile) > li {
  margin:10px auto;
  border:1px solid gray;
  background: rgba(20,20,20,0.5);
  width:100%;
  padding: 10px;
  box-sizing:border-box;
  box-shadow: 1px 1px;
  border-radius: 10px;
}
/*

#container > ul {
  margin: auto;
  max-width: 800px;
  text-align: center;
}
*/
/*============================ __PROFILE__ ============================*/
#profile {
  text-align:center;
}
#profile li {
  display: block;
}
.avatar-edit {
    width: 128px;
    height: 128px;
    position: relative;
    margin: auto;
    border:1px solid gray;
    background: url("/img/NoAvatar.png")
}
.avatar-edit:hover:before {
    content: 'click to edit';
    display: block;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    position: relative;
}
.avatar-edit canvas,.avatar-edit input{
    left:0;
    top:0;
    width: 128px;
    height: 128px;
    position: absolute;
}
.avatar-edit input{
    z-index: 2;
    opacity: 0;
}
/*============================ __PAGES__ ============================*/
#lectures, #tasks, #users{
  text-align:center;
}
.link-list {
  width: 80%;
  max-width: 1000px;
  min-width: 200px;
  margin: auto;
}
.link-list li{
  display: block;
  position: relative;
}
.link-list a {
  display: block;
  text-align: left;
  margin: 5px;
  margin-right: 100px;
}
.link-list li a:last-child {
  margin-right: 5px;
}
.link-list .actions-menu {
  position: absolute;
  top: 0;
  right: 0;
}
.actions-menu button {
  margin: 0 5px;
}
.post {
  display: table;
  width: 100%;
}
.post > * {
  display: table-cell;
  vertical-align: top;
}
.post p, .post ul, .post ol {
  margin: 10px auto;
}
.post .meta {
  width: 140px;
}
.post li {
  display: list-item;
  margin-left: 25px;
}
.post ul li {
  list-style-type: disc;
}
.post ol li {
  list-style-type: decimal;
}
.content{
  padding:10px;
}
#news li{
  margin: 10px;
}
#topics{
  display: table;
  width: 100%;
  max-width: 800px;
  margin: auto;
  border-spacing: 0 10px;
}
.topic{
  display: table-row;
  box-shadow: 0 0 1px !important;
}
.topic > * {
  display: table-cell;
  vertical-align: middle;
  height: 64px;
}
#topics a {
  text-decoration: none;
  padding-left: 10px;
}
.topic .user{
  width: 64px;
  height: 64px;
}
#tool {
  text-align:center;
}
#tool button {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background: #333;
  color: #eee;
  border-color: #000;
  box-shadow: 0 0 6px #666 inset;
}

#tool button:hover {
  background: #444;
  cursor: pointer;
  box-shadow: 0 0 6px #777 inset, 0 0 1px 2px #000 inset;
}
#board {
  background: white;
  position: relative;
  left: 0;
  top:0;
}
#tool {
  position: relative;
  margin: 0 auto;
  width: 800px;
}
#controls {
  border-radius: 20px;
}
#controls button, #clear {
  position: relative;
  z-index: 2;
}
#clear {
  display: inline-block;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  color:#ccc;
  box-shadow: 0 -1px 1px 1px inset;
  font-weight: bold;
  text-decoration: none;
  background: rgba(0,0,0,0.5);
}
#clear:hover:after{
  content: "Clear the board"
}
#clear:hover:first-letter{
  font-size: 0;
}
#board-container{
  position: relative;
}
#board:hover {
  cursor: crosshair;
}
#temp *{
  position: absolute;
  z-index: 3;
  opacity: 0.7;
}
#temp canvas{
  background: rgba(111,111,111,0.12);
}
#controls label, #controls button{
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}
#controls .selected, #controls :focus{
  box-shadow: 0 0 1px 2px #000 inset;
  border-color: royalblue;
  outline: none;
}
#images {
  width: auto;
  margin: auto;
  box-shadow: 0 0 2px 3px inset;
  background: rgba(0,0,0,0.5);
}
#images img {
  width: 96px;
  height: 96px;
}
#teamviewer{
  width: 100%;
  height: 600px;
}
#fullscreen {
  position: absolute;
  top:100px;
  right: 10px;
  padding: 5px;
}

/*============================ __SCROLLBAR__ ============================*/

::-webkit-scrollbar-track:horizontal {
  -webkit-box-shadow: inset 1px 5px 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-track:vertical {
  -webkit-box-shadow: inset 4px 1px 8px 1px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-corner {
  -webkit-box-shadow: inset 1px 5px 6px rgba(0,0,0,0.3);
  background-color: #222;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color:rgba(99,99,99,0.7);
  border: 1px solid #1d1d1d;
}
::-webkit-scrollbar-thumb:horizontal {
  -webkit-box-shadow: inset 0 7px 1px -5px rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb:vertical {
  -webkit-box-shadow: inset 3px 0 5px 0 rgba(255,255,255,0.3);
}
::-webkit-scrollbar {
  width:12px;
  height: 12px;
  background-color: transparent;
}